<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>

  <body>
    <%- include('./partials/nav.ejs') %>

    <div class="blog content">
      <h2>About</h2>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Iure nesciunt
        architecto veniam expedita distinctio quis, dolore rem ratione a omnis
        magnam ipsum nostrum nihil sed exercitationem quam, eveniet tenetur
        doloribus.
      </p>
    </div>
  </body>
</html>
